<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.judge.pose.dao.UserHasExercisesMapper" >
    <delete id="DeleteCourse" >
        delete from user_has_exercises
        where user_id = #{id} and exercises_id = #{ex_id}

    </delete>
    <select id="CheckDeletion" resultType="int" >
        select count(user_id)
        from user_has_exercises
        where user_id =#{id} and exercises_id = #{ex_id}
    </select>

<select id="GetUserCourses" parameterType="int" resultType="map">
    select exercises.title, exercises.description, image.address
    from exercises, image, exercises_has_image,user_has_exercises
    where exercises.id = exercises_has_image.exercises_id and exercises.id = user_has_exercises.user_id and exercises_has_image.index = 1
    and user_has_exercises.user_id = #{id} and exercises_has_image.image_id = image.id
</select>
</mapper>