<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.judge.pose.dao.UserMapper" >
    <insert id="register"  parameterType="com.judge.pose.domain.User" >
   insert into user (name,password,phone,email)
  values (#{name},#{password},#{phone},#{email})
</insert>
    <select id = "checkUserExisted" parameterType="java.lang.String">
    select count(*) from user where name = #{name}
</select>

    <select id="GetUserNameById" parameterType="int" resultType="java.lang.String">
        select name
        from user
        where id = #{id}
    </select>

    <select id="GetUserSigniture" parameterType="int" resultType="java.lang.String">
        select Signiture
        from user
        where id = #{id}
    </select>
</mapper>